.listLinks a li { 
    opacity: 1;
    -webkit-transform: none;
    -webkit-transition: all 800ms ease;
    -moz-transform: none;
    -moz-transition: all 800ms ease;
    -o-transform: none;
    -o-transition: all 800ms ease;
    -ms-transform: none;
    -ms-transition: all 800ms ease;
}

.listLinks a:hover li {
    color:#fff;
    background:#EDA933;
}


a:hover {
    text-decoration: underline;
}


body {
    margin : 0;
    font-family : 'Helvetica a Nueve', Helvetica, sans-serif;
    background-color: rgb(245,245,245);
    background-image: url('../img/body.jpg');
}

.wrap {
    width: 940px;
    height: 540px;
    margin: 0 auto;
    margin-top: 3%;
}

.img-polaroid {
    box-shadow: 1px 1px 13px #555;
    -moz-box-shadow: 1px 1px 13px #555;
    -webkit-box-shadow: 1px 1px 13px #555;
    -o-box-shadow: 1px 1px 13px #555;
    -ms-box-shadow: 1px 1px 13px #555; 
}

.lead {
    text-align: justify;
    margin-bottom: 25px;
}

blockquote.pull-right{
    font-size: 16px;
    width: 300px;
    border-right: 5px solid White;
}


.linksBox {
    margin-left: 20px;
    margin-top: 20px;
    width: 335px;
}

.firstLink {
    background-color: gray;
}

.icon-gmail {
    background-image: url('../img/gmail.png');
    background-size: 98%;
    background-position: -1px -4px;
    width: 45px;
    height: 40px;
    background-color: red;
}

li {
    font-size: 20px;
    margin-bottom: 19px;
    background: white;
    line-height: 60px; 
    padding: 0 30px 0 75px;
    display: block;
    color: #BCBCBC;
    font-weight: 700px;
    box-shadow: 1px 1px 7px #555;
    -moz-box-shadow: 1px 1px 7px #555;
    -webkit-box-shadow: 1px 1px 7px #555;
    -o-box-shadow: 1px 1px 7px #555;
    -ms-box-shadow: 1px 1px 7px #555;
    text-decoration: none;
}

li:hover {
    text-decoration: none;
}

@-moz-document url-prefix() { 
    
    .boutonswag {
        margin-top: 18px;
    } 
}

.listLinks {
    height: 300px;
    width: 380px;
    list-style-type: none;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -wekbit-padding-start: 40px;

    -moz-margin-before: 1em;
    -moz-margin-after: 1em;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-start: 1px;

    -o-margin-before: 1em;
    -o-margin-after: 1em;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-start: 40px;

    -ms-margin-before: 1em;
    -ms-margin-after: 1em;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-start: 40px;

    margin-before: 1em;
    margin-after: 1em;
    margin-start: 0px;
    margin-end: 0px;
    padding-start: 40px;
}

* , ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.octopus {
    background: red;
    margin-left: 20px;
    width: 521px;
    height: 390px;
    background: url('../img/octocat.png') no-repeat center;
    background-size: contain;
}


#myCarousel {
    height: 400px;
    width: 400px; 
}
